{{/* fomantic-ui card with a video asset

the card partial has the following class structure

class: ui raised card
--class: image
--|--htm: <video overrides>
  --class: content
  --|--class: header
  --|--|--md: $header
  --|--class: meta
  --|--|--md: $meta
  --|--class: description
  --|--|--md: $description
  --class: extra content
  --|--htm: $extra

  Video overrides are

  - autoplay = true | false
  - controls = = true | false

  */}}

  <div class="ui {{ .Get "class" }} card">
    <div style="aspect-ratio: 1 / 1;width:100%;align-content:center;background-color:darkgray;">
      <video class="ui centered image" poster="{{ .Get "poster" }}" autoplay="1" loop="1" controls="1" muted="1"
      style="  position: relative;top: 50%;transform: translateY(-50%);"
      >
        <source src="{{ .Get "src" }}"  />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="content">
      <div class="header">
        {{- .Get "header" | markdownify -}}
      </div>
      <div class="meta">
        {{- .Get "meta" | markdownify -}}{{/* --------------------------- */}}
      </div>
      <p>
        {{- .Get "description" -}}{{- .Inner | markdownify -}}{{/* -------- */}}
      </p>
    </div>
  </div>