{{/* metarex-sitelinks
    A dictionary of site links used in most partials that render Markdown
     - Include this if you execute `mardownify` in a shortcode or partial
     - Update this if you want consistency in your website
*/}}

{{/* ---Self references from keywords-------------------------------------- */}}
[contact]:           /contact
[meet]:              https://mrmxf.com/meet
[meeting]:           https://mrmxf.com/meet
[arrange a meeting]: https://mrmxf.com/meet

{{/* ---Mr MXF and other project leads------------------------------------- */}}
[mrmxf]:         https://mrmxf.com
[mr mxf]:        https://mrmxf.com
[mr mxf Ltd]:    https://mrmxf.com
[mxf]:           https://en.wikipedia.org/wiki/Material_Exchange_Format

[bruce]:          https://www.linkedin.com/in/mrmxf/
[bruce devlin]:   https://www.linkedin.com/in/mrmxf/
[amber]:          https://www.amberbardell.com/
[amber bardell]:  https://www.amberbardell.com/
[support amber]:  https://ko-fi.com/amberbardell

[simi]:           https://www.simizeko.com/
[simi zeko]:      https://www.simizeko.com/

{{/* ---External web sites that are referenced in many places-------------- */}}
[OpenTimelineIO]:  https://opentimelineio.readthedocs.io
