<!-- fohuw/o/block partial -->
{{/*
.srcOn "left"
+----src---+----txt----------------------------------------------+
| -------- | -----.header--------------------------------------- |
| -------- | -----.meta----------------------------------------- |
| -------- | -----.description----.inner------------------------ |
+----------+-----------------------------------------------------+
.srcOn "right"
+---------------------------------------------txt-----+---src----+
| -----.header--------------------------------------- | -------- |
| -----.meta----------------------------------------- | -------- |
| -----.description----.inner------------------------ | -------- |
+-----------------------------------------------------+----------+
*/}}
{{- $DBG := false -}}
{{with $DBG}}<p><hr style="height:3px; border:none; color:rgb(60,90,180); background-color:rgb(60,255,180);">start o/block</p>{{end}}
{{/* ---handle src type--------------------------------------------------- */}}
{{- $ext := strings.ToLower (path.Ext .src) -}}
{{- $imgExt := slice ".jpg" ".jpeg" ".png" ".webp" ".gif" ".svg" -}}
{{- $vidExt := slice ".mp4" ".mkv" -}}
{{- $srcIsVideo := in $vidExt $ext -}}
{{- $srcIsImage := in $imgExt $ext -}}
{{/* ---handle src width-------------------------------------------------- */}}
{{- $srcWidth := .srcWidth | default 0.25 -}}
{{- $type := printf "%T" $srcWidth }}
{{- if ne $type "float64" }}{{ $srcWidth = 0.25}}{{ end -}}
{{- $r := math.Round ( mul 16.0 $srcWidth ) -}}
{{- $slice := slice "zero" "one" "two" "three" "four" "five" "six" "seven" "eight" "nine" "ten" "eleven" "twelve"
"thirteen" "fourteen" "fifteen" "sixteen" -}}
{{- $r = (math.Min 16 ( math.Max 0 $r )) | math.Floor | int -}}
{{- $srcGrid := printf "%s wide" (index $slice $r) }}
{{- $txtGrid := printf "%s wide" (index $slice ( sub 16 $r )) }}
{{/* ---make src dict----------------------------------------------------- */}}
{{ $srcDict := dict "src" .src "srcLink" .srcLink "srcClass" .srcClass}}
{{/* --------------------------------------------------------------------- */}}
{{- if .id -}}<section id="{{ .id }}">{{- end -}}
  {{if $DBG}}Source ({{.src}}) is on {{.srcOn}} @ {{$srcGrid}}{{end}}
  <div class="ui stackable two column middle aligned grid">
    <div class="row">
      {{- if and .src (eq .srcOn "left") -}}
      <div class="{{$srcGrid}} column">
        {{- if $srcIsVideo }}{{ partial "f/block-video" $srcDict }}{{ end -}}
        {{- if $srcIsImage }}{{ partial "f/block-image" $srcDict }}{{ end -}}
      </div>
      {{- end -}}
      <div class="ui {{$txtGrid}} column">
        <div class="ui horizontal fluid card">
          <div class="content">
            {{- if .header -}}
            <div class="header">
              {{if .headerLink}}<a href="{{.headerLink}}">{{.header}}</a>
              {{else}}{{ .header }}{{end}}
            </div>{{- end -}}
            {{- with .meta -}}
            <div class="meta"><span class="category">{{ . }}</span></div>
            {{- end -}}
            <div class="description">
              {{- .description | markdownify -}}
              {{- .inner | markdownify -}}
            </div>
          </div>
        </div>
      </div>
      {{ if and .src (eq .srcOn "right") }}
      <div class="{{.srcGrid}} column">
        {{- if .srcIsVideo }}{{ partial "f/block-video" $srcDict }}{{ end -}}
        {{- if .srcIsImage }}{{ partial "f/block-image" $srcDict }}{{ end -}}
      </div>
      {{end}}
    </div>
  </div>
  {{- if .id -}}
</section>{{- end -}}
{{with $DBG}}<p>END o/block<hr style="height:3px; border:none; color:rgb(60,90,180); background-color:rgb(255,90,180);"></p>{{end}}