<!-- fohuw/o/media partial -->
{{/*
media with a caption
*/}}
{{- $DBG := false -}}
{{with $DBG}}<p><hr style="height:3px; border:none; color:rgb(60,90,180); background-color:rgb(60,255,180);">start o/block</p>{{end}}
{{/* ---handle src type--------------------------------------------------- */}}
{{- $ext := strings.ToLower (path.Ext .src) -}}
{{- $imgExt := slice ".jpg" ".jpeg" ".png" ".webp" ".gif" ".svg" -}}
{{- $vidExt := slice ".mp4" ".mkv" -}}
{{- $srcIsVideo := in $vidExt $ext -}}
{{- $srcIsImage := in $imgExt $ext -}}
{{- $id := "" -}}

{{/* ---make src dict----------------------------------------------------- */}}
{{- $d := dict "src" .src -}}
{{- $d = merge $d (dict "srcLink" .srcLink) -}}
{{- $d = merge $d (dict "srcClass" .srcClass) -}}
{{- $d = merge $d (dict "srcStyle" .srcStyle) -}}
{{- $d = merge $d (dict "srcPoster" .srcPoster) -}}
{{/* --------------------------------------------------------------------- */}}

<div class="{{.mediaClass}}">
  {{- if $srcIsVideo }}{{ partial "o/media-video" $d }}{{ end -}}
  {{- if $srcIsImage }}{{ partial "o/media-image" $d }}{{ end -}}
</div>

{{with $DBG}}<p>END o/block<hr style="height:3px; border:none; color:rgb(60,90,180); background-color:rgb(255,90,180);"></p>{{end}}